<section id="payeeEnter" class="payments container">
	<div class="billpay-view entry-view">
		<div class="col-lg-2 column-sidenav">
			<!-- Nav placeholder -->
		</div>
		<div class="col-lg-10 column-main">
			{{#addPayeeForm}}
			<section class="header row">
				<section class="col-lg-12">
					{{> "steps" workFlowStep}}
				</section>
				{{/addPayeeForm}}
				<h2>{{add_payee_header}}</h2>
				{{#addPayeeForm}}
			</section>
			<div class="row">
				{{> "menu" menu}}
			</div>
			{{/addPayeeForm}}
			{{#if noSearchResult}}
			<p class="instruction">{{search_for_payee_message}}</p>
			{{/if}}
			{{#addPayeeForm}}
			<div class="row">
				<div class="jpui form">
					<div class="row">
						<div class="col-lg-8">
							{{> "field" payeeName}}
						</div>
						<div class="col-lg-6">
							{{> "field" payeeNickName}}
						</div>
					</div>

					<div class="row">
						<div class="col-lg-8">
							{{> "field" payeeAddress1}}
							{{> "field" payeeAddress2}}
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							{{> "field" city}}
						</div>
						<div class="col-lg-2">
							{{> "field" state}}
						</div>
						<div class="col-lg-6">
							{{> "field" zipCode}}
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							{{> "field" phoneNumber}}
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							{{> "field" payeeAccountNumber}}
							{{> "field" payeeConfirmedAccountNumber}}
						</div>

					</div>
					<div class="row">
						<div class="col-lg-8">
						<!-- TODO Should use the check box field instead of hardcoded check box.
							{{> "field" payeeConfirmedAccountNumber}} -->

							{{#disableAccountNumber}}
								{{#if checkbox}}<dd class="checkbox-field">
								{{#checkbox}}
								{{#options}}<label class="checkbox{{#classes}} {{.}}{{/classes}}"><input {{#id}}id="{{.}}"{{/id}} type="checkbox" {{#classes}} {{.}}{{/classes}}name="{{../name}}" value="{{value}}" {{#selected}}selected='selected'{{/selected}}><span>{{label}}</span></label>{{/options}}
								{{/checkbox}}
								</dd>{{/if}}
							{{/disableAccountNumber}}

					</div>
				</div>
				<div class="row">
					<div class="col-lg-8">
						{{> "field" noteForPayee}}
					</div>
				</div>

				<footer>
					<div class="actions">
						{{#actions}}
						{{> "button" this}}
						{{/actions}}
					</div>
				</footer>
			</div>
		</div>
		{{/addPayeeForm}}
	</div>
</div>
</section>
