<section id="payeeManualVerify" class="payments container">
	<div class="billpay-view verify-view">
		<div class="col-lg-2 column-sidenav">
			<!-- Nav placeholder -->
		</div>
		<div class="col-lg-10 column-main">
			<div class="jpui form">
				{{#payeeManualVerifyForm}}
					<section class="row header">
						<section class="col-lg-12">
							{{> "steps" workFlowStep}}
						</section>
						<h2>{{addPayeeHeader}}</h2>
					</section>
					<div class="row">
						<section class="col-lg-12">
							<div class="confirm instruction">{{verifyModeInstruction}}</div>
						</section>
						<section class="col-lg-8">
							{{> "field" payeeName}}
							{{> "field" payeeNickName}}
							{{> "field" mailingAddressLine1}}
							{{#if mailingAddressLine2}}
							<dl class="jpui field">
								<dt>&nbsp;</dt>
								<dd class="data-field"><span>{{mailingAddressLine2}}</span></dd>
							</dl>
							{{/if}}
							<dl class="jpui field">
								<dt>&nbsp;</dt>
								<dd class="data-field"><span>{{mailingAddressLine3}}</span></dd>
							</dl>
							{{> "field" phoneNumber}}
							{{> "field" payeeAccountNumber}}
							{{#if deliveryMethod}}
								{{> "field" deliveryMethod}}
							{{/if}}
						</section>
					</div>
					<div class="row">
						<section class="col-lg-12 section">
							<h2>{{payeeSettingsInstruction}}</h2>
						</section>
						<section class="col-lg-8">
							<div id="container-funding-account-number" class="inlinefield col-lg-6">
								{{> "field" fundingAccountNumber}}
							</div>
							<div id="container-payee-category" class="inlinefield col-lg-6">
								{{> "field" payeeCategory}}
							</div>
						</section>
					</div>
					<footer>
						{{> "menu" options}}

						<div class="actions">
							{{#actions}}
								{{> "button" this}}
							{{/actions}}
						</div>
					</footer>
				{{/payeeManualVerifyForm}}
			</div>
		</div>
	</div>
</section>