<div class="transactions-wrapper">
    <h4 id="posted-header">{{#if this.filter_criteria}}WE FOUND {{this.transactions_filter_count}} TRANSACTIONS{{else}}{{transaction_group_all_transactions_label}}{{/if}}<span class="toolbar"><span id="toolbar-filter">{{filter_by_label}}</span><span class="vertical-divider"></span><span class="fa fa-search"></span><span id="toolbar-find">{{find_a_check_label}}</span></span></h4>
    {{#if this.filter_criteria}}
    <div class="transactions-wrapper">
	   	<h4 id="clearFilter-header">{{this.filter_criteria}}<span class="clear-filter" style="float:right;"><a href="" id="clearFilterCriteria">{{clear_filter_label}}</a></span></h4>
   	</div>
   	{{/if}}
	    <div id="accountActivityFilter"></div>
	    <div id="accountActivity"></div>
</div>

