<div class="small acc{{this.accountNumber}} account segment account-summary-tab" data-type="{{this.accountType}}" {{#if this.accountBalance}} data-mask="{{this.mask}}" data-accid="{{this.accountNumber}}" data-name="{{this.name}}" {{/if}}>
	<h4 class="title">{{this.name}}</h4>
	<h5 class="subtitle">{{this.mask}}</h5>
	<div class="amount">{{this.accountBalance}}</div>
	<div class="message">{{this.account_current_balance_label}}</div>
</div>