<div class="jpui active account details">
	<div class="row">
		<div class="col-xs-6">
			<h3 id="accountName"></h3>
			<h5 id="accountMask"></h5>
		</div>
		<div class="col-xs-6">
			<div class="col-xs-offset-2 col-xs-10">
		        <div id="things-you-can-do" class="jpui fluid inverted dropdown closed">
		          	Things you can do<i class="fa right fa-angle-down"></i>
		          	<div class="menu">
			            <div class="item" id="statements-first-level"><a _href="/#">{{request_account_statements_label}}</a></div>
			            <div class="item" id="details-first-level"><a _href="/#">{{request_account_details_label}}</a></div>
			            <div class="item"><a href="/#"><strong>{{update_settings_label}}</strong></a>
			            	<ul id="settings-next-level">
								<li id="statements-next-level"><a _href="javascript:;">{{update_statement_settings_label}}</a></li>
								<li id="alerts-next-level"><a _href="javascript:;">{{update_alerts_settings_label}}</a></li>
								<li id="overdraft-next-level"><a _href="javascript:;">{{update_overdraft_protection_settings_label}}</a></li>
								<li id="travel-next-level"><a _href="javascript:;">{{update_international_travel_settings_label}}</a></li>
							</ul>
			            </div>
			            <div class="item" id="services-first-level"><a _href="/#"><strong>{{account_services_label}}</strong></a>
			            	<ul id="">
								<li id="stoppayment-next-level"><a _href="javascript:;">{{stop_payment_on_check_label}}</a></li>
								<li id="checks-next-level"><a _href="javascript:;">{{order_checks_and_deposit_slips_label}}</a></li>
								<li id="directdeposit-next-level"><a _href="javascript:;">{{setup_direct_deposit_label}}</a></li>
							</ul>
			            </div>
			            <div class="item" id="forms-first-level"><a href="/#"><strong>{{get_forms_label}}</strong></a>
			            	<ul id="forms-next-level">
								<li id="banking-next-level"><a _href="">{{request_banking_forms_label}}</a></li>
								<li id="tax-next-level"><a _href="">{{request_tax_forms_label}}</a></li>
							</ul>
			            </div>
		          	</div>
        		</div>
      		</div>
		</div>
	</div>
	<div class="row" id="acct-summary-grid">
		<div class="col-xs-6" id="acct-summary-zone">
      		<ul>
     			<li><div class="details item-label">{{account_available_balance_label}}</div><span id="availableBalance" class="details item-value"></span></li>
         		<li><div class="details item-label">{{account_balance_label}}</div><span id="presentBalance" class="details item-value"></span></li>
        		<li id="rateOfInterest"><div class="details item-label">{{interest_rate_label}}</div><span id="interestRate" class="details item-value"></span></li>
				<li id="interestByYear"><div class="details item-label">{{interest_year_till_date_label}}</div><span id="ytdInterest" class="details item-value"></span></li>
				<li id="withdrawals"><div class="details item-label">{{number_of_withdrawals_this_period_label}}</div><span  id="numWithdrawals" class="details item-value"></span></li>
      		</ul>
    	</div>
    	<div class="col-xs-6" id="overdraftSettings"></div>
   	</div>
</div>
