<header>
	<!-- IMPORTANT: THIS FILE WILL BE DELETED. PLEASE DO NOT USE -->
    <button id="backtoaccts">Back</button>
    <span class="account" id="accountName">{{this.accountName}}</span>
    <div class="account-number" id="accountMask">{{this.accountMask}}</div>
    <div id="acct-summary-zone">
        <div class="acct-summary">
            <ul class="leaders">
                <li><span class="acct-summary__label">Today's balance</span><span class="acct-summary__value" id="presentBalance">{{this.presentBalance}}</span></li>
                <li><span class="acct-summary__label">Interest rate</span><span class="acct-summary__value" id="ytdInterest">{{this.ytdInterest}}</span></li>
                <li><span class="acct-summary__label">Interest in 2014</span><span class="acct-summary__value" id="interestRate">{{this.interestRate}}</span></li>
            </ul>
        </div>
        <div style="clear: both;"></div>
    </div>
</header>
