<div class="account acc{{this.accountNumber}} account-summary-tab" data-type="{{this.accountType}}" {{#if this.accountBalance}} data-mask="{{this.mask}}" data-accid="{{this.accountNumber}}" data-name="{{this.name}}" {{/if}}>
    <section class="table account-title">
        <div class="row">
            <div class="account-type">{{this.name}}</div>
            <div class="account-number" style="float: right;margin-top: 5px;">{{this.mask}}</div>
        </div>
    </section>
    <section class="table account-summary">
        {{#if this.accountBalance}}
        <div class="row">
            <div class="account-number"></div>
            <div class="account-value"></div>
        </div>
        <div class="row">
                <div></div>
                <div class="account-value-label">{{this.leadLabel}}</div>
        </div>
        {{else}}
            <div>Information not available.</div>
        {{/if}}
    </section>
    <section class="detail divider advertisment" style="margin-bottom:-17px;">
        <div class="trigger-url" data-src="#ajax/profile-paperless.html">
            <h5><i class="fa fa-angle-down"></i>Go Paperless</h5>
            <h4>More secure than your mailbox</h4>
        </div>
    </section>
</div>