<header>
    <button id="backtoaccts">Back</button>
    <span class="account" id="accountName">{{this.accountName}}</span>
    <div class="account-number" id="accountMask">{{this.accountMask}}</div>
    <div id="acct-summary-zone">
        <div class="acct-summary">
            <ul class="leaders">
                <li><span class="acct-summary__label">Last Payment Amount</span><span class="acct-summary__value" id="lastPaymentAmount">{{this.lastPaymentAmount}}</span></li>
                <li><span class="acct-summary__label">Next Payment Date</span><span class="acct-summary__value" id="nextPaymentDate">{{this.nextPaymentDate}}</span></li>
                <li><span class="acct-summary__label">Next Payment Amount</span><span class="acct-summary__value" id="nextPaymentAmount">{{this.nextPaymentAmount}}</span></li>
                <li><span class="acct-summary__label">Available Credit</span><span class="acct-summary__value" id="availableCredit">{{this.availableCredit}}</span></li>
                <li><span class="acct-summary__label">Last Payment Date</span><span class="acct-summary__value" id="lastPaymentDate">{{this.lastPaymentDate}}</span></li>
            </ul>
        </div>
        <div style="clear: both;"></div>
    </div>
</header>
