<section class="contact">
	<section class="col-lg-8 detailsBlock">
		<span class="type cell">{{label}}</span>
		<span class="emailInfo cell">{{info}}</span>

		{{#if actions}}
		<span class="links cell">
		{{#actions}}
	        <a href="{{url}}" class="link resendLink {{#classes}} {{.}}{{/classes}}">{{label}}</a>
	    {{/actions}}
		</span>
		{{/if}}
	</section>

	<section class="col-lg-4 verifyBlock">
		{{#if code}}
				<div class="code cell">
				{{#code}}
					<dt>
						<label>{{label}}</label>
					</dt>
					<dd class="text-field">
						<input {{#id}}id="{{.}}"{{/id}} value="{{value}}" class="text"><span class="verified" id="verifyThis{{id}}" style="display:none;"><i class="fa fa-check-circle"></i></span>
					</dd>
				{{/code}}
			</div>
		{{/if}}

		{{#if verified}}
			<span class="verified cell"><i class="fa fa-check-circle"></i></span>
		{{/if}}
	</section>
</section>






