<div class="todo-list">
	         <ul class="rowlist">
            <li class="date">
               {{notificationReceivedDate}}
            </li>
            <li class="sender">
               <strong>{{notificationSender}}</strong> &nbsp;|&nbsp; <a href="#" class="disabled">{{view_details_label}}</a> &nbsp;|&nbsp; <a href="#" class="disabled">{{decline_label}}</a>

					{{#ifCond transactionType "===" "PAYMENT"}}
					    <em>{{payment_message}}</em>
					{{else}}
					    <em>{{request_message}}</em>
					{{/ifCond}}

               <span>{{quickpayMemo}}</span>
            </li>
            <li class="amount">
              ${{paymentAmount}}
            </li>
            <li class="action">
 					{{#ifCond transactionType "===" "PAYMENT"}}
	              	<button id="token_{{token}}" class="Accept">{{accept_money_label}}</button>
               {{else}}
               	<button id="token_{{token}}" class="Send">{{send_money_label}}</button>
               {{/ifCond}}
            </li>
         </ul>
</div>