<div>
    <!-- Left panel : Navigation area -->
    <aside id="left-panel">
        <nav>
            <!-- NOTE: Notice the gaps after each icon usage <i></i>..
            Please note that these links work a bit different than
            traditional href="" links. See documentation for details.
            -->
           <!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 268 268" xml:space="preserve" xmlns:xml="http://www.w3.org/XML/1998/namespace">
            <path style="fill:#FFFFFF;" d="M100.749,8.655c-4.88,0-8.86,3.968-8.86,8.844v62.095h164.04L181.227,8.69L100.749,8.655"></path>
            <path style="fill:#FFFFFF;" d="M261.945,98.372c0-4.884-3.947-8.82-8.875-8.82h-62.052V253.6l70.896-74.726L261.945,98.372"></path>
            <path style="fill:#FFFFFF;" d="M172.177,259.538c4.864,0,8.86-3.965,8.86-8.845v-62.099H16.989l74.678,70.943H172.177"></path>
            <path style="fill:#FFFFFF;" d="M10.996,169.848c0,4.896,3.933,8.829,8.832,8.829h62.111V14.629L10.996,89.362V169.848"></path>
            </svg>-->
            <img src="{{megaMenuComponent.logoUrl}}">
            <ul>
                {{#each megaMenuComponent.navigation}}
                   <li data-name={{name}} {{#if id}}id="{{id}}"{{/if}}>
                       <a {{#if target}}target="new"{{/if}} href="{{linkTo}}">{{label}}</a>
                   </li>
                {{/each}}
            </ul>
        </nav>
    </aside>
<!-- END NAVIGATION -->
<!-- Modal POPUP -->
    <section class="modal-popup">
        <div class="popup-head" id="modal-heading">
            <!--<div class="popup-title"></div>-->
            <div class="close-popup" style="float: right;">
                <a id="close-modal"></a>
            </div>
        </div>
        <div class="popup-content" id="modal-content"></div>
    </section>
<!-- End Modal Quote -->
</div>