<section {{#id}}id="{{.}}"{{/id}} class="jpui list selectable {{#classes}}{{.}}{{/classes}}">

	{{#each rows}}
		<label for="{{id}}">
			<div class="input">
				<input id="{{id}}" type="radio" class="{{class}}" value="{{value}}" name="{{../id}}">
			</div>
			<div>
				{{#if items}}
					<div>
						<dl>
							{{#each items}}
								<dt>{{label}}</dt>
								<dd>{{value}}</dd>
							{{/each}}
						</dl>
					</div>
				{{/if}}
			</div>
		</label>
	{{/each}}


{{!
{
	id: <uuid>, //uid for entire list
	classes: <string || array>,
	rows: [
		{
			id: <uuid>, //Required. Will link label to input tags.
			classes: <string || array>,
			items: [{
				label: <string>,
				value: <string>
			}]
		}
	]
}
/}}

</section>