<table {{#id}}id="{{.}}"{{/id}} class="jpui table sortable{{#classes}} {{.}}{{/classes}}">
	<thead>
		<tr>
		{{#each headers}}
			<th class="{{#if sortable}}sortable{{/if}}{{#classes}} {{.}}{{/classes}}" {{#if colspan}}colspan={{colspan}}{{/if}}>
				{{label}}
			</th>
		{{/each}}
		</tr>
	</thead>
	<tbody>
		{{#each rows}}
		<tr {{#id}}id="{{.}}"{{/id}} {{#if classes}}class="{{#classes}} {{.}}{{/classes}}"{{/if}}>
			{{#each values}}
			<td {{#if classes}}class="{{#classes}} {{.}}{{/classes}}"{{/if}} {{#if colspan}}colspan={{colspan}}{{/if}}>{{{value}}}</td>
			{{/each}}
		</tr>
		{{/each}}
	</tbody>


{{!

{
	'id': <uuid>,
	'classes': <array | string>,
	'headers': [{
			'label':<string>,
			'sortable':<boolean>,
			'classes':<array | string>,
			'colspan':<integer>
		}],
	'rows': [{
		'id': <uuid>,
		'classes': <string | array>,
		'values':[{
			'value':<html>,
			'classes':<array | string>,
			'colspan':<integer>
		}]
	}]
}

/}}

</table>
