<ol class="jpui progressbar{{#classes}}{{.}}{{/classes}}" {{#id}}id="{{.}}"{{/id}}>
	{{#each steps}}
		<li {{#if active}}class="active"{{/if}}><span>
			{{#if title}}
				{{title}}
			{{else}}
				{{base1 @index}}
			{{/if}}</span>
		</li>
	{{/each}}

	{{!
		'id': 'uuid',
		'classes': 'steps', //string or array of strings
		'steps': [{
				'active': true,
				'title': ''
			},
			{
				'active': false,
				'title': ''
			},
			{
				'active': false,
				'title': ''
			}
		}]
	/}}
</ol>