<div class="jpui custom-checkbox">
	<input type="checkbox" class="jpui checkbox" value="" name="{{groupName}}" id="{{inputId}}">
	<label for="{{inputId}}">
		<div></div>
		<span class="accessible-text">{{accessibleText}}</span>
		<span class="field-label">{{label}}</span>
	</label>
</div>