<div>
	<div class="col-lg-12 horizontal-divider no-grid-padding action-bar">
		<div class="col-lg-9">
			<h3 class="section-subheader">{{nickName}} ({{type}})</h3>
		</div>
		<div class="col-lg-3 aligned right">
			<a href="#" class="action-link">Delete</a>
			{{#unless isEdit}}
				<a href="#" class="edit action-link vertical-divider" data-email-id="{{id}}">Edit</a>
			{{/unless}}
		</div>
	</div>
	<div class="col-lg-12">
	{{#if isEdit}}
		<dl class="row">
			<dt>Email address</dt>
			<dd><input class="email-address" value={{emailAddress}}></input></dd>
			<dt>Nickname</dt>
			<dd><input class="nickname" value={{nickName}}></input></dd>
		</dl>
	<div class="row aligned center edit-action-buttons">
		<button class="button cancel" data-email-id="{{id}}">Cancel</button>
		<button class="button save" data-email-id="{{id}}">Save</button>
	</div>
	{{else}}
		<dl class="row">
			<dt>Email address</dt>
			<dd>{{emailAddress}}</dd>
			<dt>Nickname</dt>
			<dd>{{nickName}}</dd>
		</dl>
	{{/if}}
</div>