<div class="jpui custom-radiobutton">
	<input type="radio" class="jpui radio accessible-text" value="Yes" name="{{groupName}}" id="{{inputId}}">
	<label for="{{inputId}}">
		<div>
			<div>
			</div>
		</div>
		<span class="accessible-text">{{accessibleText}}</span>
		<span class="label">{{label}}</span>
	</label>
</div>