<div class="col-lg-12">
	<div class="row section-header">
		<div class="col-lg-9">
			<h2 class="section-title" id="profile-subtitle">The basics</h2>
		</div>
		<div class="col-lg-3">
		</div>
	</div>
	<div class="row section-body">
		<div class="col-lg-12 horizontal-divider no-grid-padding action-bar">
			<div class="col-lg-9">
				<h3 class="section-subheader">Personal Information</h3>
				<div id="contextualHelp" class="inline-block"></div>
			</div>
			<div class="col-lg-3 aligned right">
				<!-- <a href="#" class="action-link">Delete</a> -->
				<span id="deleteModalTrigger"></span>
				<a id="js-edit-profile" href="javascript:;" class="action-link vertical-divider help-links section-edit-link">Edit</a>
			</div>
		</div>
		<div class="col-lg-12">
			<dl class="dl-horizontal section-content-spacing row">
				<dt>Full name</dt>
				<dd><input id="personalFullname" class="personal-profile-input form-control{{#if this.personalFullname.disabled}}-disabled{{/if}}" placeholder="Your full name" type="text" value="{{this.personalFullname.value}}" {{#if this.personalFullname.disabled}}disabled=""{{/if}}></dd>
				<dt>I liked to be called</dt>
				<dd><input id="personalFullnameNickname" class="personal-profile-input form-control{{#if this.personalFullnameNickname.disabled}}-disabled{{/if}}" type="text" value="{{this.personalFullnameNickname.value}}" {{#if this.personalFullnameNickname.disabled}}disabled=""{{/if}}></dd>
				<dt>User ID</dt>
				<dd><input id="personalUserId" class="personal-profile-input form-control{{#if this.personalUserId.disabled}}-disabled{{/if}}" type="text" value="{{this.personalUserId.value}}" {{#if this.personalUserId.disabled}}disabled=""{{/if}}></input></dd>
				<dt>Password</dt>
				<dd><input id="personalPassword" class="personal-profile-input form-control{{#if this.personalPassword.disabled}}-disabled{{/if}}" type="password" value="{{this.personalPassword.value}}" {{#if this.personalPassword.disabled}}disabled=""{{/if}}></dd>
				<dt>Language</dt>
				<dd>{{this.language}}</dd>
			</dl>
			<div id="save-personal-profile-container" class="aligned center" style="display:none;">
				<button id="save-personal-profile" class="btn btn-primary save-personal-profile">Cancel</button>
				<button id="save-personal-profile" class="btn btn-primary save-personal-profile">Save</button>
			</div>
	</div>
	<!-- <div class="row">
		<article class="col-lg-10 col-lg-offset-2">
			<dl class="dl-horizontal section-content-spacing">

				<dt>Full name</dt>
				<dd><input id="personalFullname" class="personal-profile-input form-control{{#if this.personalFullname.disabled}}-disabled{{/if}}" placeholder="Your full name" type="text" value="{{this.personalFullname.value}}" {{#if this.personalFullname.disabled}}disabled=""{{/if}}></dd>

				<dt>I liked to be called</dt>
				<dd><input id="personalFullnameNickname" class="personal-profile-input form-control{{#if this.personalFullnameNickname.disabled}}-disabled{{/if}}" type="text" value="{{this.personalFullnameNickname.value}}" {{#if this.personalFullnameNickname.disabled}}disabled=""{{/if}}></dd>

				<dt>User ID</dt>
				<dd><input id="personalUserId" class="personal-profile-input form-control{{#if this.personalUserId.disabled}}-disabled{{/if}}" type="text" value="{{this.personalUserId.value}}" {{#if this.personalUserId.disabled}}disabled=""{{/if}}></input></dd>

				<dt>Password</dt>
				<dd><input id="personalPassword" class="personal-profile-input form-control{{#if this.personalPassword.disabled}}-disabled{{/if}}" type="password" value="{{this.personalPassword.value}}" {{#if this.personalPassword.disabled}}disabled=""{{/if}}></dd>

				<dt>Language</dt>
				<dd>{{this.language}}</dd>
			</dl>
			<div id="save-personal-profile-container" style="text-align:center; display:none;">
				<button id="save-personal-profile" class="btn btn-primary save-personal-profile">Cancel</button>
				<button id="save-personal-profile" class="btn btn-primary save-personal-profile">Save</button>
			</div>
		</article>
	</div> -->
	<div class="row">
		<div class="col-lg-12">
			<p class="profile-txt-content">
				Your <strong>UserID</strong> will give you secure access to Online and will help to ensure that you private information and transactions are safeguarded. Please memorize your UserID and keep it in a safe place.You should continue to use the same Password when you log on . Please memorize your new User ID or keep it in a safe place.
			</p>
			<p class="profile-txt-content">
				Changing your <strong>Password</strong> periodically helps ensure the securityof you account information.
			</p>
		</div>
	</div>
</div>