<div>
	<div class="classic title">
  		<div class="row">
    		<div class="col-xs-8">
     	 		<h1>{{{classicComponent.titleElement.pageTitle}}}</h1>
    		</div>
    		<div class="col-xs-4">
      			<div class="classic right toggle link">
        			<span><a id="classic-help-content" href="/#">{{{classicComponent.titleElement.helpToggleLinkText}}}<span class="accessible-text">{{{classicComponent.titleElement.showsContent}}}</span><i class="fa fa-angle-down"></i></a></span>
      			</div>
    		</div>
    		<div class="col-xs-12">
    			<div id="classic-help-content-container" class="classic toggle content">
      				<span class="accessible-text">{{{classicComponent.titleElement.helpAccessibilityBeginContent}}}</span>
      				<p>{{{classicComponent.titleElement.helpContent}}}</p>
      				<span class="accessible-text">{{{classicComponent.titleElement.helpAccessibilityEndContent}}}</span>
    			</div>
    		</div>
  		</div>
  	</div>

	<div style="height: 100%;">
		<iframe id="modal-iframe" data-name="{{classicComponent.iframeElement.dataName}}" src="{{classicComponent.iframeElement.url}}" title="{{classicComponent.iframeElement.titleContent}}" style="display:none;" width="100%" height="100%"></iframe>
	</div>
</div>