<div class="container mfa">

  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <div class="progress row">
        <div class="col-xs-3 small centered text">{{identify_customer_progress_label}}</div>
        <div class="col-xs-3 small centered text">{{locate_user_id_progress_label}}</div>
        <div class="col-xs-3 small centered text">{{request_identification_code_progress_label}}</div>
        <div class="col-xs-3 small centered text">{{create_new_password_progress_label}}</div>
      </div>
      <div class="row">
        <div class="jpui progress">
          <div id="progressBar" class="bar" role="percentage" aria-valuemin="0" aria-valuemax="100" aria-valuenow="25" style="width:25%;"><span class="accessible-text">{{request_identification_code_progress_bar_label}}</span></div>
        </div>
      </div>

      <div class="row">
        <div class="jpui primary panel">
          <header class="jpui panel header">
            <h1>{{identify_customer_header}}</h1>
          </header>

          <div class="jpui panel body">
            <div class="row">
              <div class="col-xs-offset-1 col-xs-10">
                <h2>{{identify_customer_advisory}}</h2>
                <p>{{identify_customer_advisory_text}}</p>
                <p>{{identify_customer_question_navigation}}</p>

                <!-- Password Recovery Starts -->
                <div class="jpui recovery options">

                  <!-- SOCIAL SECURITY -->
                  <div class="group active">
	                  <div class="title row">
	                  	<div class="col-xs-6">
			                  <input class="jpui inline radio" type="radio" name="password_reset_identify_option_id" id="passwordresetoptionSSN" value="social_security_number" checked>
	                          <label class="inline radio label" for="passwordresetoptionSSN">{{identify_customer_social_security_number_label}}</label>
	                  	</div>
	                  	<div class="col-xs-6">
	                  		<h4 class="sub-heading">{{account_type_label}}</h4>
	                  	</div>
	                  </div>
	                  <div class="content">
	                    <!-- content here -->
	                    <div class="row">
	                      <div class="col-xs-6">
	                        <span class="accessible-text">{{!-- hat_ssn --}}</span>
	                        <input type="text" class="jpui input half" id="social_security_number" name="ssn" value=""><br />
	                        <a href="#" class="jpui no-underline" id="identify_customer_social_security_number_option">{{identify_customer_social_security_number_option_label}}</a><br />
	                        <a href="#" class="jpui no-underline hidden" id="identify_customer_date_of_birth_option">{{identify_customer_date_of_birth_option_label}}</a>
	                      </div>

	                      <div class="col-xs-6">

	                      	<div class="input-row">
	                          <input class="jpui inline radio default_option" type="radio" name="account_type" id="option_1" value="ssn_card_account_number" checked="checked" />
	                          <label class="inline radio label" for="option_1">{{card_account_number_label}}</label>
	                          <input class="jpui input account-input" type="text" name="account_number" id="ssn_card_account_number" value="">
	                        </div>

	                        <div class="input-row">
	                          <input class="jpui inline radio" type="radio" name="account_type" id="option_2" value="ssn_commercial_loan_account_number" />
	                          <label class="inline radio label" for="option_2">{{commercial_loan_account_number_label}}</label>
	                          <input class="jpui input account-input hidden" type="text" name="ssn_commercial_loan_account_number" id="ssn_commercial_loan_account_number" value="">
	                        </div>

	                        <div class="input-row">
	                          <input class="jpui inline radio"type="radio" name="account_type" id="option_3" value="ssn_other_account_number" />
	                          <label class="inline radio label" for="option_3">{{other_account_number_label}}</label>
	                          <input class="jpui input account-input hidden" type="text" name="ssn_other_account_number" id="ssn_other_account_number" value="">
	                        </div>
	                      </div>
	                    </div>

	                  </div> <!-- end .content -->
	                </div> <!-- end .group -->


                  <!-- TAX NUMBER -->
                  <div class="group">
	                  <div class="title row">
	                  	<div class="col-xs-6">
												<input class="jpui inline radio" type="radio" name="password_reset_identify_option_id" id="passwordresetoptionTIN" value="tax_identification_number">
		                    <label class="inline radio label" for="passwordresetoptionTIN">{{identify_customer_tax_identification_number_label}}</label>
	                  	</div>
	                  	<div class="col-xs-6">
	                  		<h4 class="sub-heading">{{account_type_label}}</h4>
	                  	</div>
	                  </div>
	                  <div class="content">
	                    <!-- content here -->
	                    <div class="row">
	                      <div class="col-xs-6">
	                        <span class="accessible-text">{{!-- hat_tax_number --}}</span>
	                        <input type="text" class="jpui input half" name="tax_identification_number" id="tax_identification_number" value="">
                          <p>{{tax_identification_number_advisory}}</p>
	                      </div>

	                      <div class="col-xs-6">

	                        <div class="input-row">
	                          <input class="jpui inline radio default_option" type="radio" name="account_type" id="tin_card_account_number_radio" value="tin_card_account_number" />
	                          <label class="inline radio label" for="tin_card_account_number_radio">{{card_account_number_label}}</label>
	                          <input class="jpui input account-input" type="text" name="tin_card_account_number" id="tin_card_account_number" value="">
	                        </div>

	                        <div class="input-row">
	                          <input class="jpui inline radio" type="radio" name="account_type" id="tin_commercial_loan_account_number_radio" value="tin_commercial_loan_account_number" />
	                          <label class="inline radio label" for="tin_commercial_loan_account_number_radio">{{commercial_loan_account_number_label}}</label>
	                          <input class="jpui input account-input hidden" type="text" name="tin_commercial_loan_account_number" id="tin_commercial_loan_account_number" value="">
	                        </div>

	                        <div class="input-row">
	                          <input class="jpui inline radio" type="radio" name="account_type" id="tin_other_account_number_radio" value="tin_other_account_number" />
	                          <label class="inline radio label" for="tin_other_account_number_radio">{{other_account_number_label}}</label>
	                          <input class="jpui input account-input hidden" type="text" name="tin_other_account_number" id="tin_other_account_number" value="">
	                        </div>
	                      </div>
	                    </div> <!-- end .row -->
	                  </div> <!-- end .content -->
                  </div> <!-- end .group -->


                  <!-- AUTHORIZED BUSINESS USER -->
                  <div class="group">
	                  <div class="title row">
	                  	<div class="col-xs-12">
	                   		<input class="jpui inline radio" type="radio" name="password_reset_identify_option_id" id="passwordresetoptionBIZ" value="value_1" />
	                    	<label class="inline radio label" for="passwordresetoptionBIZ">{{identify_authorized_user_of_a_customer_label}}</label>
	                    </div>
	                  </div>
	                  <div class="content">
	                    <!-- content here -->
	                    <div class="row">
	                      <div class="col-xs-6">
	                        <span class="accessible-text">{{!-- hat_email_placeholder --}}</span>
	                        <input type="email" class="jpui input" name="biz_user_email" value="" placeholder="Email">
	                      </div>
	                      <div class="col-xs-6">
	                        <span class="accessible-text">{{!-- hat_security_code --}}</span>
	                        <input type="text" class="jpui input" name="biz_user_security_code" value="" placeholder="Security Code">
	                      </div>
	                    </div>
	                  </div> <!-- end .content -->
	                </div> <!-- end .group -->


                  <!-- CHASE QUICKPAY -->
                  <div class="group">
	                  <div class="title row">
	                  	<div class="col-xs-12">
		                  	<input class="jpui inline radio" type="radio" name="password_reset_identify_option_id" id="passwordresetoptionQP" value="value_1" />
		                  	<label class="inline radio label" for="passwordresetoptionQP">{{identify_quick_pay_customer_label}}</label>
		                  </div>
	                  </div>
	                  <div class="content">
	                    <!-- content here -->
	                    <div class="row">
	                      <div class="col-xs-6">
	                        <span class="accessible-text">{{!-- hat_email --}}</span>
	                        <input type="email" class="jpui input" name="quickpay_email" value="" placeholder="Email">
	                      </div>
	                      <div class="col-xs-6">
	                        <span class="accessible-text">{{!-- hat_security_code --}}</span>
	                        <input type="text" class="jpui input" name="quickpay_security_code" value="" placeholder="Security Code">
	                        <p>{{pending_applicant_advisory}}</p>
	                      </div>
	                    </div>
	                  </div> <!-- end .content -->
	                </div>

                  <!-- PENDING APPLICATION -->
                  <div class="group">
	                  <div class="title row">
	                  	<div class="col-xs-12">
	                   		<input class="jpui inline radio" type="radio" name="password_reset_identify_option_id" id="passwordresetoptionAPP" value="value_1" />
	                   		<label class="inline radio label" for="passwordresetoptionAPP">{{identify_customer_with_pending_applicant_label}}</label>
	                   	</div>
	                  </div>
	                  <div class="content">
	                    <!-- content here -->
	                    <div class="row">
	                      <div class="col-xs-6">
	                        <span class="accessible-text">{{!-- hat_email --}}</span>
	                        <input type="email" class="jpui input" name="pending_app_email" value="" placeholder="Email">
	                      </div>
	                      <div class="col-xs-6">
	                        <span class="accessible-text">{{!-- hat_id_num --}}</span>
	                        <input type="text" class="jpui input" name="pending_app_id_number" value="" placeholder="ID Number">
	                        <p>{{pending_applicant_advisory}}</p>
	                      </div>
	                    </div>
	                  </div> <!-- end .content -->
	                </div> <!-- end .group -->

                </div> <!-- end .recovery.options -->

              </div>
            </div>

            <div class="row workflow-button-container">
              <div class="col-xs-12">
                <button class="jpui right info button" id="proceed_to_locate_user_id">{{next_label}}</button>
                <button class="jpui right button" id="exit_reset_password">{{cancel_label}}</button>
               </div>
            </div>

          </div>
        </div>
      </div>

    </div>
    </div> <!-- last 2 divs may have to be on bottom. -->
  </div>
