<div class="jpui transparent navigation bar">
    <!-- Logon Menu -->
    <div class="row">
      <div class="col-xs-5">
        <div class="offcanvas left menu trigger">
          <i class="fa fa-bars"></i>
        </div>
        <div class="jpui separated left menu hide-xs show-md">
          <ul>
            <li><a href="#">{{personalMenuTitle}}</a></li>
            <li><a href="#">{{businessMenuTitle}}</a></li>
            <li><a href="#">{{commercialMenuTitle}}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-2">

      </div>
      <div class="col-xs-5">
        <div class="right search trigger">
          <i class="fa fa-search"></i>
        </div>
        <div class="jpui right menu hide-xs show-md">
          <ul>
            <li class="logon-toggle"><a>{{loginLinkText}}</a></li>
            <li><a href="#logon" id="atmBranc">{{atmBranchLinkText}}</a></li>
            <li><a href="#logon" id="switchLocale" lang="{{locale}}" data-locale="{{locale}}">{{language}}</a></li>
          </ul>
        </div>
      </div>
  </div>
</div>