<div>
    <div id="mock-background" style="display: none;
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: white;
         opacity: .50;
         -webkit-opacity: .5;
         -moz-opacity: .5;
         filter: alpha(opacity=50);
         z-index: 1000;">
    </div>
    <div id="mock-config" style="background-color: white;
         border-radius: 10px;
         -webkit-border-radius: 10px;
         -moz-border-radius: 10px;
         box-shadow: 0 0 20px 0 #222;
         -webkit-box-shadow: 0 0 20px 0 #222;
         -moz-box-shadow: 0 0 20px 0 #222;
         display: none;
         max-height: 97%;
         min-height: 30%;
         left: 50%;
         margin: -120px 0 0 -160px;
         padding: 10px;
         position: absolute;
         top: 25%;
         width: 510px;
         z-index: 1000;
         overflow:auto;
         line-height: 35px;" class="pure-menu pure-menu-open">

        <div id="mockScenario">
            <p>
            <a style="float: right" class="js-close-profile"><img src="{{ASSETS_INDEX}}img/close-x.png"  id="closeMocking"></a>
            </p>
            <h1 class="hero-txt">Scenario</h1>
            <table class="mock-table">
                <tbody>
                <tr><td></td></tr>
                <tr>
                    <td>
                        <label>ScenarioId: </label>
                    </td>
                    <td>
                        <input id="scenarioId" type="text" placeholder="ScenarioId" style="font-size:12px; padding-right: 0px; width: 200px">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Date: </label>
                    </td>
                    <td>
                        <input id="scenarioDateTime" type="text" name="bday" style="font-size:12px; padding-right: 0px; width: 200px">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                       {{#if scenarioEnable }}
                          <button class="btn btn-a" id="unsetMockingScenario" type="submit" >Disable Scenario</button>
                        {{else}}
                         <button class="btn btn-a" id="setMockingScenario" type="submit">Set Scenario</button>
                        {{/if}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div id="mock-setup">
            <p>
                <a style="float: right" class="js-close-profile"><img src="{{ASSETS_INDEX}}img/close-x.png"  id="closeMocking"></a>
            </p>
            <h1 class="hero-txt">Mocking Setup</h1>
            <table class="mock-table">
                <tbody>
                <tr><td></td></tr>

                {{#each mockFields}}
                    <tr>
                    <td>
                        <label>{{this.label}}</label>
                    </td>
                    <td>
                        <select id="{{this.dataName}}" style="display:inline;" data-name="{{this.dataName}}" data-url="{{this.dataUrl}}" {{#if this.selectedActivity}}disabled{{/if}} data-session="{{this.session}}">
                            {{#each this.options}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </td>
                </tr>

                {{/each}}
                <tr>
                    <td></td>
                    <td>
                    {{#if enabled }}
                        <button class="btn btn-a" id="unsetMocking" type="submit" >Disable Mocking</button>
                      {{else}}
                        <button class="btn btn-a" id="setMocking" type="submit">Set Mocking</button>
                    {{/if}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="mockingToggle" style="z-index:1000; position:fixed; bottom:10px; right:10px;">

        <!--<button id="mock-launcher" onClick="javascript:document.getElementById('mock-background').style.display = 'block';
document.getElementById('mock-config').style.display = 'block';">Mock: {{#if enabled }} On {{else}} Off {{/if}}</button>-->

        <button id="mock-launcher-scenario" onClick="javascript:document.getElementById('mock-background').style.display = 'block';
                document.getElementById('mock-config').style.display = 'block';">Scenario: {{#if scenarioEnable }} On {{else}} Off {{/if}}</button>
    </div>
    <script>
   		document.getElementById('scenarioDateTime').value = new Date().toISOString();
	</script>
</div>