{{#.}}<table {{#id}}id="{{.}}"{{/id}} class="table{{#classes}} {{.}}{{/classes}}">
		<thead>
			<tr>
				{{#headers}}
					<th class="header{{#classes}} {{.}}{{/classes}}">{{label}}</th>
				{{/headers}}
			</tr>
		</thead>
		<tbody>

		{{#if noResult}}
            <tr>
              <td colspan="99">
                   {{noResult}}
              </td>
            </tr>
      	{{/if}}

			{{#rows}}
				<tr {{#.}}{{#if memoDetails}}class="hasMemo"{{/if}}{{/.}}>
					{{#.}}
					 	{{#if value}}
							<td class="{{name}} cell">{{{value}}}</td>
						{{/if}}
						{{#if links}}
						 	<td class="links cell">
						 		{{#links}}<a href="{{#if href}}{{href}}{{else}}#{{/if}}" name="{{name}}" class="link{{#../classes}} {{.}}{{/../classes}}">{{text}}</a>{{/links}}
							</td>
					 	{{/if}}
						{{#if actions}}
						 	<td class="actions cell">
						 		{{#actions}}
						 			{{> 'button' this}}
						 		{{/actions}}
							</td>
					 	{{/if}}
				 	{{/.}}
				</tr>
			{{#.}}
          		{{#if memoDetails}}
           			<tr class="memo">
              			<td></td>
              			<td colspan="99">
                  			{{{memoDetails}}}
              			</td>
           			</tr>
            	{{/if}}
        	{{/.}}
			{{/rows}}
		</tbody>
	</table>
{{/.}}
