<section id="paymentVerify" class="container">
	<link rel="stylesheet" type="text/css" media="screen" href="dashboard/assets/payments/payBills/billpay.css">
	<div id="container-input" class="billpay-view column-single">
		{{#payeeActivityModule}}
		<div class="jpui form">
			<div class="col-lg-3" style="height: 250px; float: left;">
				<p class="instruction">{{payeeName}} {{payeeActivityHeader}}</p>
				<p class="instruction">{{payeeActivityMessage}}</p>
				<p class="instruction">{{{payeeActivityLegal}}}</p>
			</div>
			<div class="col-lg-9" style="float: right; border-left: 1px solid black;">
				{{#if showNoActivityMessage}}
				{{noCurrentActivityMessage}}
				{{else}}
				{{> "sortabletable" payeeActivityGrid}}
				{{/if}}
				<footer>
					<div class="actions">
						{{#actions}}
						{{> "button" this}}
						{{/actions}}
					</div>
				</footer>
			</div>
		</div>
		{{/payeeActivityModule}}
	</div>
	<div style="clear: both;"></div>
</section>